body {
    padding: 20% 10%;
    text-align: center;
    background-color: crimson;
}

h1 {
    font-family: 'Chivo Mono', monospace;
    font-weight: 400;
    font-size:xx-large;
}

h3 {
    font-family: 'Chivo Mono', monospace;
    font-weight: 200;
    font-size: medium;
    color: rgb(75, 75, 75);
}

